<template>
  <header>
    <nav class="container">
      <router-link v-for="item in menu" :key="item.name" :to="item.path" tag="li">{{item.name}}</router-link>
    </nav>
  </header>
</template>
<script>
export default {
  data() {
    return {
      menu: [
        { name: "Home", path: "/" },
        { name: "About", path: "/about" },
        { name: "Movie", path: "/movie" },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
nav {
  display: flex;
}
</style>